body{
	margin:0;
	padding:0;
	font-family:arial,sans-serif;
	background-color: #DDD;
}

#wrapper{
	width: 90%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding:10px 5px 50px 5px;
}

#superSimpleDiv{
	color:red;
}

.superSimpleClass{

}
